:root{
    --numeric: 'Cutive Mono', monospace;
    --text: 'Lexend Deca', sans-serif;

    --lgrey: #F5F7FA;
    --mgrey: #CCD1D9;
    --dgrey: #656D78;
    --charcoal: #3C3B3D;

    --invis: #0000;    
    --span: #a07e36;
    --tab: #a07e36;
}


body{
    background-color: var(--charcoal);
    color: var(--lgrey);
    margin: 0;
    font-family: var(--text);
    overflow: auto;
    position: relative;
    user-select: none;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

*,*::before{
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.noDisplay,#runs.noDisplay{ display: none; }

header{ width: 100%; height: 4rem; background-color: #0009; display: flex; align-items: center; justify-content: flex-start; padding: 0 1.5rem; position: relative; }
main{ display: flex; justify-content: center; min-height: calc( 100% - 7rem ); max-height: calc( 100% - 7rem ); position: relative; overflow-y: auto; overflow-x:hidden; }
section{ min-width: 27rem; padding: 1rem; background-color: #0003; }
span{ width: 100%; height: 100%; }
footer{ position: absolute; bottom: 0; left: 0; height: 3rem; width: 100%; z-index: 1; display: flex; align-items: flex-end; justify-content: flex-start; padding: 1rem; background-color: #0009; }

#runs{ max-height: calc( 100% - 7rem ); overflow-y: auto; padding-bottom: 0; padding-top: 0.75rem;}

.stat{ font-family: var(--numeric); font-weight: 800;}
.tableHeadings,.tableRow{ display: flex; height: 2rem; margin: 0 0 1rem 0; }
.heading,.cell{ width: 6rem; display: flex; align-items: center; justify-content: center;}
.bigCell{ width: 12rem; height: 2.25rem; display: flex; align-items: center; justify-content: flex-start; padding-left: 1rem;}
.halfCell{ width: 4rem; display: flex; align-items: center; justify-content: center; font-size: 0.8rem;}
.heading.long,.cell.long{ width: 7.5rem; }
.main{ min-width: 30rem; background-color: #0006; }
.button{ justify-content: center; background-color: var(--invis); height: 2rem; width: 7.5rem; border: solid 1px white; color: var(--lgrey)}
.button.longer{ justify-content: center; background-color: var(--lgrey); height: 2rem; width: 15rem; border: solid 1px white; color: var(--charcoal)}
.button.available,.abandon.available{ cursor: pointer; background-color: var(--span); }
.statBox{ position: relative; }
.abandon{ display: flex; align-items: center; justify-content: center; background-color: var(--invis); height: 2rem; width: 7.5rem; border: solid 1px white; color: var(--lgrey); position: absolute; top: 0; right: 0; }
.statRow{ height: 2.5rem; }
.questBox{ display: flex; align-items: center; justify-content: center; width: 100%; margin: 0 0 1rem 0; }
.questBar{ height: 3.5rem; width: calc( 100% + 2rem ); background-color: #0009; padding: 0.5rem; position: relative; margin: -1rem -1rem 0 -1rem; z-index: 0; }
.completing{ height: 3.5rem; max-width: calc( 100% - 2px ); width: 0%; background-color: var(--lgrey); position: absolute; top:0; left: 0; z-index: 1; }
.barFillBox{ height: 3.5rem; width: calc( 100% - 2px ); z-index: 5; position: absolute; padding: 0.5rem; top: 0; left: 0; }
.barFill{ background-color: var(--span); height: 2.5rem; width: 0%; }
.questText{ position: absolute; width: 100%; padding: 1.125rem 1rem; top: 0; z-index: 10; }
.num{ font-family: var(--numeric); font-weight: 800;}
.completeBox{ height: 4rem; width: 100%; display: flex; align-items: center; justify-content: center; }
.completeBox.noDisplay{ display: none; }
.complete{ background-color: var(--span); color: var(--lgrey); display: flex; align-items: center; justify-content: center; border: solid 1px white; cursor: pointer; padding: 0.5rem 1rem; }
.rewardBox{ display: flex; align-items: center; margin: 0 1.5rem 0 0; font-family: var(--numeric); font-weight: 800; }
.rewardBox:last-child{ position: absolute; right: 0; height: 5rem; display: flex; align-items: center; }
.smaller{ font-family: var(--numeric); font-size: 1.25rem; font-weight: 800; margin-left: 1rem; }

.selector{ width: 7.65rem; height: 2.25rem; display: flex; justify-content: center; align-items: center; border: solid white 1px; margin: 1rem 0 0.25rem 1rem; cursor: pointer; }
.selector.selected{ background-color: var(--lgrey); color: var(--charcoal); cursor: default; }
.spanSubBox{ display: flex; flex-wrap: wrap; width: 26rem; margin: 0 0 1rem -1rem; min-height: 2rem; }
.spanLabel{ height: 2.5rem; font-size: 1.25rem; border-bottom: solid white 1px; padding-bottom: 0.5rem; display: flex; justify-content: space-between; align-items: center;}
.smallSpanLabel{ height: 2rem; font-size: 1rem; display: flex; justify-content: space-between; align-items: center; margin-top: 1rem; }
.curr{ width: 1.5rem; height: 1.5rem; margin: 0 0.75rem 0 0;}
.tabBox{ display: Flex; border-bottom: solid black; }
.tabIco{ width: 1.25rem; height: 1.25rem; pointer-events: none;}
.tab{ width: 2.5rem; height: 2.5rem; border-radius: 20% 20% 0 0; background-color: #0006; display: flex; justify-content: center; align-items: center; opacity: 0.5; transition: all 0.5s; cursor: pointer;  }
.tab:hover,.miniTab:hover{ opacity: 1;}
.miniTabBox{ display: Flex; border-bottom: solid black; margin-top: 1.5rem; }
.tab.active,.miniTab.active{ background-color: #000; opacity: 1; }
.miniTab{ width: 2.5rem; height: 2.5rem; border-radius: 20% 20% 0 0; background-color: #0006; display: flex; justify-content: center; align-items: center; opacity: 0.5; transition: all 0.5s; cursor: pointer; font-size: 0.8rem; }
.upgradeHeading{ font-size: 1.25rem; border-bottom: solid white 1px; padding-bottom: 0.5rem; display: flex; justify-content: space-between; align-items: center; margin-top: 1rem; }
.upgradeRow{ display: flex; align-items: center; margin-top: 1rem; }
.upgrade,.prestige{ width: 5rem; height: 2.25rem; display: flex; justify-content: center; align-items: center; border: solid white 1px; position: relative;}
.recruit{ width: 5rem; height: 2.25rem; display: flex; justify-content: center; align-items: center; border: solid white 1px; }
.affordable{ background-color: var(--tab); cursor: pointer; }
.rewardIcon{ width: 1rem; height: 1rem; margin: 0 0 0 0.5rem; pointer-events: none;}
.headingIcon{ width: 1rem; height: 1rem; margin: 0 0 0 0.5rem; height:100%}
.inlineHeadings{ font-size: 0.8rem; display: flex; }
.rosterBox{ display: flex; flex-wrap: wrap; margin: 0 0 1rem 0; min-height: 2rem; max-width: 25rem;}
.assignBox{ display: flex; min-height: 2rem; align-items: center; justify-content: flex-start; }
.slot{ width: 2rem; height: 2rem; border: solid white 1px; background-size: 40%; margin: 1rem 0.5rem 0 0; position: relative; }
.recreate{ background-image: url(./recreate.png); width: 2rem; height: 2rem; margin-left: 0.5rem;}
.slot.filled{ background-size: 500%; cursor: pointer; }
.jerk.unassigned{ width: 2rem; height: 2rem; }
.jerk.assigned{ width: 2rem; height: 2rem; position: absolute; top: 0; left: 0; margin: -1px; pointer-events: none; }

.ring{ cursor: pointer; width: 2.5rem; height: 2rem; padding-left: 0.5rem; padding-top: 0.5rem; display: flex; align-items: center; justify-content: center; }
.circle{ pointer-events: none;}
circle.paused{ opacity: 0.25;}

.span0{ background-color: #a07e36; } .s0{ background-image: url(./0.png); }
.span1{ background-color: #97482c; } .s1{ background-image: url(./1.png); }
.span2{ background-color: #932929; } .s2{ background-image: url(./2.png); }
.span3{ background-color: #72285d; } .s3{ background-image: url(./3.png); }
.span4{ background-color: #33265b; } .s4{ background-image: url(./4.png); }
.span5{ background-color: #2a3964; } .s5{ background-image: url(./5.png); }
.span6{ background-color: #2c5478; } .s6{ background-image: url(./6.png); }
.span7{ background-color: #3d6b68; } .s7{ background-image: url(./7.png); }
.span8{ background-color: #385e35; } .s8{ background-image: url(./8.png); }
.span9{ background-color: #6f8240; } .s9{ background-image: url(./9.png); }
.clickMe{ width: 2rem; height: 2rem; transition: all 5s; position: absolute; opacity: 0; cursor: pointer; z-index: 99;}
.points{ background-image: url(./points.png);}
.jerk{ background-image: url(./jerk.png); display: flex; align-items: center; justify-content: center; font-size: 0.75rem; padding-bottom: 0.1rem; margin: 1rem 0.5rem 0 0; cursor: pointer; position: relative;}
.autoBuy{ background-image: url(./autoBuy.png); cursor: pointer; }

.selectedJerk,.selectedSlot{ filter: drop-shadow( 0 0 0.25rem white ); z-index: 1; cursor: pointer; }

.tooltip { display:inline-block; position:absolute; font-size: 0.8rem; }
.tooltip .bottom { min-width: 15rem; top: 40px; left: 50%; transform: translate(-50%, 0); padding: 1rem; background-color:#000; border-radius:8px; position:absolute; z-index:15; box-sizing:border-box; opacity:0; transition:opacity 0.5s; }
.tooltip:hover .bottom { opacity:1; }
.tooltip .bottom i { position:absolute; bottom:100%; left:50%; margin-left:-12px; width:24px; height:12px; overflow:hidden; }
.tooltip .bottom i::after { content:''; position:absolute; width:12px; height:12px; left:50%; transform:translate(-50%,50%) rotate(45deg); background-color:#000; }
.bottom{ pointer-events: none; }

.scroll{ transition: transform 51ms; pointer-events: none; display: flex;}
.inlineIcon{ height: 1rem; width: 1rem; margin: 0 0.5rem; }
.costIcon{ height: 1.25rem; width: 1.25rem; margin: 0 0.5rem; }
.combined{ display: flex;}

::-webkit-scrollbar { width: 0.25rem; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 5px #0000;  border-radius: 10px; }
::-webkit-scrollbar-thumb { background-color: #0009; }
::-webkit-scrollbar-thumb:hover { background-color: var(--mgrey); }

.undex{ min-height: calc( 100% - 8rem ); max-height: calc( 100% - 8rem ); position: relative; overflow-y: auto; overflow-x:hidden; padding: 2rem;}
.preamble{ margin-bottom: 1rem;}
.preamble.large{ font-size: 1.5rem;}
.featureHeading{ height: 2.5rem; width: 100%; font-size: 1.5rem; border-bottom: solid white 1px; padding-bottom: 0.5rem; margin-bottom: 1rem; margin-top: 2rem; display: flex; justify-content: space-between;}
.featureBox{ display: flex; flex-wrap: wrap; }
.featureToggle{ display: flex; width: 15rem; height: 2.5rem; margin: 0 1rem 1rem 0; align-items: center; position: relative;}
.toggle{ width: 3rem; height: 1.5rem; background-color: var(--dgrey); margin-right: 0.5rem; }
.restart{ display: flex; align-items: center; justify-content: center; width: 16rem; background-color: #6f8240; height: 2rem; border: solid 1px white; color: var(--lgrey); cursor: pointer; margin: 2rem auto 0 auto; }
.buyU{ display: flex; align-items: center; justify-content: center; width: 4.5rem; background-color: #6f8240; height: 2rem; border: solid 1px white; color: var(--lgrey); cursor: pointer; margin-right: 0.5rem; }

.switch { position: relative; display: inline-block; width: 3.5rem; height: 2rem; margin-right: 0.5rem; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: var(--dgrey); transition: .4s; }
.slider:before { position: absolute; content: ""; height: 1.5rem; width: 1.5rem; left: 0.25rem; bottom: 0.25rem; background-color: white; transition: .4s; }
input:checked + .slider { background-color: #6f8240; } 
input:focus + .slider { box-shadow: 0 0 1px #6f8240; }
input:checked + .slider:before { transform: translateX(1.5rem); }
.unaffordable{ pointer-events: none; opacity: 0.25; }
.scalarCost{ font-size: 1rem; display: flex; align-items: flex-end; }
.scalarNum{ margin: 0 0.5rem; font-family: var(--numeric); font-weight: 800; display: flex;}
.refreshMe{ text-decoration: underline; cursor: pointer;}